{% extends "base.html" %}

{% block content %}
    <h1>Add a Book to the Book Shop!</h1>

    <form class="form-inline" action="http://127.0.0.1:4999/bookshop" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="author">Author</label>
      <input type="text" name="author" id="Author">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">
      <label for="checked_out">Checked Out?</label>
      <input type="checkbox" name="checked_out" id="checked_out" >
      <input type="submit" value="Add Book">
      
      
    </form>

    <div class="book-container">
    {% for book in booklist %}
    <div class="book">
        <div class="book-info">
            <h2>Title: {{ book.title }}</h2>
            <h3>Author: {{ book.author }}</h3>
            <h4>Genre: {{ book.genre }}</h4>
            {% if book.checked_out %}
            <h4>Checked out</h4>
            {% endif %}
        
      <a href="/bookshop/{{book.title}}">View Book</a> 
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
